<h1 class=" pt-14 text-center text-3xl font-bold ">
  Estimate the price of your sign! </h1>

<div class="grid grid-cols-1 justify-items-center">
  <div class="basis-1/1">
    <form class="example-form">

      <div class="grid grid-cols-1 justify-center pt-8">
        <mat-form-field class="example-full-width block" hintLabel="Max 50 characters" appearance="fill">
          <mat-label>Enter some input</mat-label>
          <input matInput #input maxlength="50" placeholder="Ex. Lablebi" [formControl]="text" (keyup)="onKey($event)">
          <mat-hint align="end">{{input.value.length}}/50</mat-hint>
        </mat-form-field>

      </div>



      <div class="justify-center pt-8 flex flex-row gap-4">

        <div id="font-picker" (click)="expand()" [ngClass]="opened ? 'expand' : '' "></div>

        <mat-form-field class="basis-1/2">
          <mat-label>Height</mat-label>
          <input matInput type="number" placeholder="Ex. 120" value="120">
        </mat-form-field>
      </div>
    </form>
  </div>
  <hr>
  <h1 class=" pt-10 text-center text-3xl font-bold ">
    Aperçu: </h1>
  <div class="basis-1/1 pt-12 ">
    <div class="flex inline-block align-middle">
      <div class="basis-1/4 ">
        <mat-icon class="inline-block align-middle m-2" style="font-size: 30px;">
          arrow_upward
        </mat-icon>
      </div>
      <div class="basis-2/4">
        <h1 class="apply-font text-4xl">{{values}}</h1>
      </div>
      <div class="basis-1/4"> </div>
    </div>
  </div>


</div>