.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  div[id^=font-picker] {
    box-shadow: none;
    height: 56px;
  }
  div[id^=font-picker] .dropdown-button {
    background: whitesmoke;
    height: 100% !important;
  }
 .dropdown-button {
    background: whitesmoke !important;
    height: 100% !important;
  }
  .dropdown-button {
    height: 100% !important;

  }
  